/* עיצוב עמוד משחקים ראשי*/
.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto)); /* התאמה דינמית */
    gap: 60px; /* מרווחים קטנים יותר */
    justify-content: center;
    padding: 20px;
    max-width: 800px; /* מונע מהגריד להתפרס על כל הרוחב */
    margin: 0 auto;
}

.game {
    width: 200px; /* מגדיל את הרוחב */
    height: 220px; /* מגדיל את הגובה */
    border: 2px solid #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 1rem; /* משאיר את הטקסט ברור */
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 10px;
}


.game:hover{
    transform: scale(1.05);
}

.game img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

.game.disabled{
    position: relative;
    background-color: #ccc; /* רקע אפור */
    color: gray;
    pointer-events: none; /* מבטל אפשרות ללחוץ */
    box-shadow: none;
    cursor: default; /* מסיר את סמן היד */

}
.soon {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 180px;
    height: 30px;
    transform: translate(-50%, -50%); /* ממקם את הכיתוב במרכז */
    background: rgba(0, 0, 0, 0.6); /* רקע שחור שקוף */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.games-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 30px; /* רווח בין הכותרת לאייקון */
}

.trophy-icon {
    font-size: 1.8rem; /* גודל האייקון */
    color: gold; /* צבע הגביע */
    transition: 0.3s;
    text-decoration: none;
}

.trophy-icon:hover {
    color: orange; /* שינוי צבע בעת ריחוף */
    transform: scale(1.2); /* אפקט הגדלה */
}

