
p{
  direction: rtl;  
}

.user-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 20px auto;
    
}


.achievements-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.achievement {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.achievement img {
    width: 100%; /* התמונה תתאים לרוחב הקוביה */
    height: 120px; /* גובה קבוע לתמונות */
    object-fit: cover; /* חיתוך החלקים הלא מתאימים כדי לשמור על יחס הגובה-רוחב */
    border-radius: 10px; /* עיגול קל של התמונה */
    margin-bottom: 10px; /
    

}
.table-container {
    display: flex;
    justify-content: center; /* שומר על יישור למרכז */
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%; /* הטבלה תתפוס את כל רוחב המסך */
    border-collapse: collapse; /* מסיר רווחים בין התאים */
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden; /* שומר על קצוות מעוגלים */
}

th, td {
    border: 1px solid #ddd; /* מוסיף גבול דק בין התאים */
    padding: 10px;
    text-align: center; /* מיישר את הטקסט */
}

th {
    background: #f8f8f8; /* צבע רקע לכותרות */
    font-weight: bold;
}


.back-button {
    display: block;
    margin: 50px auto 20px auto; /* מגדיל את הרווח העליון */
    padding: 10px 20px;
    background: #3498db;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.back-button:hover {
    background: #2980b9;
}