body {
    background: linear-gradient(to bottom, #dde1e7, #a6aebd); /* רקע מדורג */
    color: #2c3e50;
    font-family: "Arial", sans-serif;
    text-align: center;
}


.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 10px;
    font-size: 4rem;
    font-weight: bold;
    color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.cell:hover {
    background: #f0f0f0; /* אפקט ריחוף */
    transform: scale(1.05); /* הגדלה קלה */
}


.cell:hover {
    background-color: lightgray;
}



.turn{
    direction: rtl;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold; /* הפיכת הטקסט למודגש */
    color: #2c3e50; /* צבע כהה למראה אלגנטי */
    margin: 2% ;
}

#reset {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}

#reset:hover {
    background-color: #2980b9;
}
