body {
    font-family: "Arial", sans-serif;
    text-align: center;
    min-height: 100vh;
    background-image: url("../images/xoBackground.jpg"); /* הנתיב לתמונה */
    background-size: cover; /* התאמה למסך */
    background-position: center; /* מיקום במרכז */
    background-attachment: fixed; /* קיבוע הרקע */
    background-repeat: no-repeat; /* ללא חזרה */
}

h1{
 color: #2c3e50; /* צבע כהה למראה אלגנטי */

}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 10px;
    font-size: 4rem;
    font-weight: bold;
    color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.cell:hover {
    background: #f0f0f0; /* אפקט ריחוף */
    transform: scale(1.05); /* הגדלה קלה */
}


.cell:hover {
    background-color: lightgray;
}



.turn{
    direction: rtl;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold; /* הפיכת הטקסט למודגש */
    color: #2c3e50; /* צבע כהה למראה אלגנטי */
    margin: 2% ;
}

.reset-icon {
    font-size: 2rem; /* גודל האייקון */
    color: #3498db; /* צבע כחול בהיר שמתאים לעיצוב */
    cursor: pointer; /* משנה את הסמן ליד שמראה שאפשר ללחוץ */
    transition: 0.3s ease-in-out;
    margin: 20px auto; /* ממקם את האייקון במרכז */
}

.reset-icon:hover {
    color: #2980b9; /* צבע כהה יותר בעת ריחוף */
    transform: rotate(360deg); /* אנימציה של סיבוב */
}




